nav {
  border: 1px solid #0f0f0f;
  background-color: #a8aeb1;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (min-width: 768px){
  section {
    display: grid;
    grid-template-areas:
      'b c c d d'
      'b e f g h '
      'b footer footer footer footer ';
  }
}

@media (max-width: 767px) {
  section {
    display: grid;
    grid-template-areas:
      'b b'
      'c c'
      'd d'
      'e f '
      'g h'
      'footer footer ';
  }
}
